

.file-item {
    border: 0px solid silver;
    margin: 15px;
    width:50px;
    height:50px;
    font-size:14px;
    text-align:center;
}

.file-image-item {
    width:50px;
    height:50px;
}

.file-text-item {
    width:10px;
}